<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vineetprasadverma.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/musicicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnglishSongsActivity"
            android:label="@string/english_songs" />
        <activity
            android:name=".HindiSongsActivity"
            android:label="@string/hindi_songs" />
        <activity
            android:name=".BhojpuriSongsActivity"
            android:label="@string/bhojpuri_songs" />
        <activity
            android:name=".PunjabiSongsActivity"
            android:label="@string/punjabi_songs" />
        <activity android:name=".NowPlayingActivity"></activity>
    </application>

</manifest>